[2013-12-01 11:57] candeira opened #3 "Shouldn't 61000 become "one minute, one second"?"
Or 361000 become "six minutes, one second".

One of the two.

[2013-12-02 00:25] #3 closed, assigned to nobody

[2014-01-24 16:17] EvanHahn opened #6 "Give humanizeDuration function a name"
Change

[code]

to

[code]

[2014-02-17 22:23] #6 closed, assigned to nobody

[2014-03-02 04:50] irfn opened #8 "Use a format specifier."
Specific use case required me to change the default format duration.

Use case: Usage quota for a Saas service is measured in hours and minutes.
- 1 hour, 20 minutes used of 1000 hours
- 240 hour, 20 minutes used of 1000 hours

Note that i am using 240 hours instead of 10 days. Essentially some cases may required to omit some "units"

I have implemented this here.

https://github.com/irfn/Humanize

[2014-04-03 18:17] EvanHahn opened #12 "Fix Portuguese tests"

[2014-04-03 18:18] #12 closed, assigned to nobody

[2014-04-04 13:29] redglory opened #13 "Portuguese - "mês" plural isn't "mêses" but "meses""
When we humanize months in portuguese you get "mêses" which is incorrect.

It should be "meses" without "^"

[2014-04-04 17:59] #13 closed, assigned to nobody

[2014-04-04 18:18] #8 closed, assigned to nobody

[2014-07-08 18:25] EvanHahn opened #15 "Allow languages to be added dynamically"
Something like this:

[code]

Maybe add some way of attaching scoped helper functions (like currently exists for Polish support).

[2014-07-08 18:27] EvanHahn opened #16 "Chinese support"

[2014-07-08 18:28] EvanHahn opened #17 "Japanese support"

[2014-07-08 19:27] #15 closed, assigned to nobody

[2014-07-27 15:37] sarim opened #19 "Optionally omit small units"
When calculating a big duration, i want to omit seconds and milliseconds.

Instead of `XX hours, XX minutes, XX seconds, XX milliseconds` , `XX hours, XX minutes` looks more human readable.

[2014-07-28 21:55] #16 closed, assigned to nobody

[2014-07-28 23:36] EvanHahn opened #21 "Minor: move Chinese to bottom of languages list"
`zh` is alphabetically last.

[2014-07-29 00:29] #21 closed, assigned to EvanHahn

[2014-07-29 18:39] EvanHahn opened #23 "Add contributing.md"

[2014-07-29 18:47] #23 closed, assigned to EvanHahn

[2014-07-29 20:01] #19 closed, assigned to nobody

[2014-07-29 20:02] EvanHahn opened #24 "Add separator between number and words"
Per #22, add config for something like this:

[code]

Needs a better name than `separator` because there's also `delimiter`. Maybe make _both_ of those names more descriptive.

[2014-07-29 20:03] EvanHahn opened #25 "Add new languages to humanizers"

[2014-07-29 20:13] #25 closed, assigned to nobody

[2014-07-29 22:49] EvanHahn opened #26 "Improve docs"

[2014-07-30 09:48] guidokessels opened #27 "Error when specifying units"
Hi there,
I keep getting the following error when trying to specify `units`:

[code]

Here's the code I'm running in Node (straight from the docs):

[code]

It seems to fail here, where it expects `language` to be a string, but it is the input object:

[code]

So, am I doing something wrong here? Or does the code not work as it is documented?

Thanks.

[2014-07-30 17:04] #27 closed, assigned to nobody

[2014-07-30 17:58] darknos opened #29 "Ability to control language settings in options."
Could you look at this commit for details:

https://github.com/darknos/HumanizeDuration.js/commit/8eaa252c05ac82df164141d8aec23c7237887d09

One line of code change and you can control language without code modifications.

[2014-09-06 14:35] #17 closed, assigned to nobody

[2014-09-06 14:35] #26 closed, assigned to nobody

[2014-10-31 13:32] EvanHahn opened #33 "README: note that Webpack is an alternative to Browserify"
Quick fix.

[2014-10-31 13:47] EvanHahn opened #34 "README: semicolons in code examples are inconsistent"

[2014-11-01 01:29] #33 closed, assigned to EvanHahn

[2014-11-01 01:31] #34 closed, assigned to nobody

[2014-12-22 18:59] EvanHahn opened #35 "Allow uppercased languages"
This currently fails:

[code]

It should probably work, or there should be a test for this.

[2014-12-22 19:42] EvanHahn opened #36 "Remove Sinon dependency"
It's unused.

[2014-12-22 20:06] #36 closed, assigned to nobody

[2014-12-22 20:07] #35 closed, assigned to nobody

[2015-01-08 17:45] EvanHahn commented on #29
You can do what you've proposed pretty easily:

[code]

Sorry it took so long to get back to you!

[2015-01-08 17:45] #29 closed

[2015-01-08 17:56] #24 closed

[2015-01-30 13:46] iamalexkempton opened #38 "1.5 hours converts wrong"
Hi there,

I'm trying to convert 1.5 hours to '1 hour, 30 minutes', and it behaves wrong. See example:

http://plnkr.co/edit/6y1iXae5kBhfM51owSgx?p=preview

1.25 hours converts fine. Any thoughts?

Cheers,

Alex

[2015-01-30 16:04] iamalexkempton commented on #38
Just looked at the source code and seen that this is intentional. Perhaps it may be worth having this is an option to turn on/off?

[2015-01-30 21:50] EvanHahn commented on #38
Yes; there's code to do half intervals. What kind of configuration option would you want?

[2015-02-14 00:16] polomarcus commented on #38
PR https://github.com/EvanHahn/HumanizeDuration.js/pull/40

[2015-02-17 14:27] EvanHahn commented on #38
PR looks good. I'll merge soon.

[2015-02-17 14:44] polomarcus commented on #38
No.. you look good!

Tell me if you want me to change anything.

[2015-02-17 14:45] EvanHahn commented on #38
Just merged #40. Going to clean up the readme and then close this.

[2015-02-17 15:23] EvanHahn commented on #38
Pushed 2.4.0 with PR #40!

[2015-02-17 15:23] #38 closed

[2015-02-18 13:29] toutpt opened #41 "humanizeDuration(5400000, {language: 'fr'}) -> 1.5 heures"
With 1.6 hours I have a good result:

humanizeDuration(moment.duration({hours: 1.6}).asMilliseconds(), { language: 'fr' });
"1 heure, 36 minutes"

But with 1.5 I have something bad:
humanizeDuration(moment.duration({hours: 1.5}).asMilliseconds(), { language: 'fr' });
"1.5 heures"

Expected result is : "1 heure, 30 minutes"

[2015-02-18 13:33] toutpt commented on #41
OK, after reading the code I need to pass halfUnit in the option. I believe it should be false by default.

humanizeDuration(moment.duration({hours: 1.5}).asMilliseconds(), { halfUnit: false, language: 'fr' });
"1 heure, 30 minutes"

I let you close the issue.

[2015-02-18 15:10] EvanHahn commented on #41
A future version of HumanizeDuration may set `halfUnit` to `false` by default or remove it entirely, but not yet.

Closing this issue.

[2015-02-18 15:10] #41 closed

[2015-03-13 20:25] olso opened #43 "Math.floor not working?"
![testreport](https://cloud.githubusercontent.com/assets/7975158/6646623/2d527fb6-c9c7-11e4-81a5-5e59961d3d8b.png)

my humanizer
[code]

what I do

[code]

[2015-03-13 20:46] olso commented on #43
also

package.json says
[code]

but bower.json says
[code]

in bower_components

[2015-03-13 22:07] EvanHahn commented on #43
Can you give me an example input that causes this? For example:

[code]

[2015-03-13 23:06] olso commented on #43
@EvanHahn https://jsfiddle.net/h1u0vvcq/

[2015-03-14 01:16] EvanHahn commented on #43
@olso Good catch. I am fixing this now.

[2015-03-14 01:34] EvanHahn commented on #43
@olso Turns out that this wasn't a bug, but I added the `round` feature:

[code]

You might want to add the `round` option to your humanizer, like so:

[code]

HumanizeDuration 2.5.0 has this new feature.

[2015-03-14 01:34] #43 closed

[2015-04-05 11:11] tazmaniax opened #46 "Return the largest two units"
Hello,

Is there a setting to return just the largest two units with a bottom unit limit so that the string is not too long or too granular? For example
3 weeks and 1 day
3 days and two hours
4 hours and 20 minutes
5 minutes

Something similar is described here, http://stackoverflow.com/a/14157442/1030246

cheers,
Chris

[2015-04-05 18:00] EvanHahn commented on #46
Short answer: not yet! What would you want that API to look like?

[2015-04-06 19:44] tazmaniax commented on #46
Maybe config setting like 'limitUnits', e.g. humanizeDuration(150000, { limitUnits: 2 }), to limit the number of units displayed starting from the least granular with the default being undefined so display all units.

The other option I mentioned could be 'smallestUnit', e.g humanizeDuration(150000, { smallestUnit: "minutes" }), to limit the smallest unit displayed with the default being seconds.

[2015-04-16 04:27] EvanHahn commented on #46
Could you imagine something even MORE flexible? Like...give me the smallest
2 units but don't ever give me hours? Something like that?

Sorry I'm slow to respond!

On Mon, Apr 6, 2015 at 2:44 PM, Chris Webb <notifications@github.com> wrote:

[2015-04-16 05:26] tazmaniax commented on #46
I'm not sure what the use case would be for "give me the smallest
2 units but don't ever give me hours" - in terms of duration displaying smaller units without the larger units first if present is not meaningful. The only use case I can think of is "keeping the duration string arbitrarily short", so limiting the granularity by starting with the largest unit(s) and then progressively increasing the

[2015-05-08 12:56] evilaliv3 opened #49 "Language codenames should be standard and homogeneous"
Language codenames should be standard and homogeneous; currently all are in ISO_639-1 except for 'nob' used for Norwegian that is ISO_639-2

My suggestion is that you use [https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes](ISO_639-1)

Using an homogenous naming would make more easy to integrate with other libraries and portals (e.g. [https://www.transifex.com/](Transifex))

In addition for com

[2015-05-08 14:16] EvanHahn opened #52 "Disable Hound CI "line is too long" warnings"
No need for this garbage:

![](https://cloud.githubusercontent.com/assets/777712/7538048/ed2634ba-f562-11e4-810f-44e0e56ecb35.png)

[2015-05-08 17:41] EvanHahn commented on #46
I'm adding this to the 3.0 milestone.

[2015-05-08 17:48] #52 closed

[2015-05-08 18:14] EvanHahn commented on #49
I don't know enough about this to make a decision.

A problem I encounter is Chinese. I don't really understand the difference between `zh_CN` and `zh_TW`, but there _is_ a difference (look at the code).

- [ISO 639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) only have _one_ code for Chinese. That means we have to use an underscore (`zh_CN`).
- [ISO 639-2 codes](https://en.wiki

[2015-05-08 18:34] evilaliv3 commented on #49
the difference among zh_CN and zh_TW is the dialect. the first is what is called basic chinese (the more common understandable quite from all chineses) while the latter is the one talked in taiwan.
so when you have languages with multiple dialects it's better to expose the language with language_dialect to clarify what is the one used.
here you can find a more long list: https://github.com/globale

[2015-05-08 18:37] evilaliv3 commented on #49
the naming conventions explained before are the one used by transifex.
the same are used by wordpress here: https://packages.debian.org/jessie/all/wordpress-l10n/filelist

[2015-05-09 09:34] evilaliv3 opened #54 "It would be valuable to add a getSupportedLanguages() function"
While working on [GlobaLeaks](github.com/globaleaks/GlobaLeaks) and try to solve issue https://github.com/siddii/angular-timer/issues/180 on [angular-timer](github.com/angular-timer) i found that currently HumanizeDuration does not offer any function in order to export the supported languages.

This would significantly simplify the integration with other projects/libraries.

[2015-05-09 16:50] evilaliv3 opened #56 "Evaluate integration of Coveralls in order to track code coverage on commit"
It would be valuable to integrate with Coveralls in order to track code coverage on commit.
Here is an example of integration by means of grunt + mocha + grunt-mocha-istanbul
https://github.com/evilaliv3/scrypt-async-js/tree/feature/saucelabs

Here is an example of results of the coverage analysis: https://coveralls.io/r/evilaliv3/scrypt-async-js

[2015-05-09 16:52] evilaliv3 opened #57 "Evaluate integration of Saucelabs in order to test cross-browser compatibility on commit"
It would be valuable to integrate with Saucelabs in order to track code coverage on commit.
Here is an example of integration by means of grunt + mocha + grunt-saucelabs
https://github.com/evilaliv3/scrypt-async-js/tree/feature/saucelabs

Here is an example of results of the coverage analysis: https://saucelabs.com/u/evilaliv3

[2015-05-09 17:15] evilaliv3 opened #58 "Catalan language is missing test definition"
@EvanHahn: as shown by unit test implemented in https://github.com/EvanHahn/HumanizeDuration.js/pull/55 the Catalan language is missing its test definition.

    evilaliv3@remotehost:~/Devel/HumanizeDuration.js$ node_modules/mocha/bin/mocha

    assert.js:92
      throw new assert.AssertionError({
            ^
    AssertionError: ["ar","da","de","en","es","fr","hu","it","ja","ko","nl","nob","pl",

[2015-05-09 17:33] evilaliv3 opened #59 "Add support for short Vs long dates form"
While getting feedback from an hungarian collaborator I got the feedback that it would be valuable to add to the library the possibility for to write a short form and a long form for dates.

Here follows the mail really full of interesting details:

    In hungarian for exact number there is only the singular version was used.
    for year we have 'év' and for years we have 'évek' but 'évek' is on

[2015-05-09 17:58] evilaliv3 commented on #58
i've added test cases in commit: https://github.com/evilaliv3/HumanizeDuration.js/commit/87e56223490d21a917879306e41a8949d756fd6f

It will be possible to close this issue when merging: https://github.com/EvanHahn/HumanizeDuration.js/pull/55

[2015-05-10 04:52] tazmaniax commented on #46
Great, do you have a rough ETA for v3 release?

[2015-05-10 17:04] EvanHahn commented on #54
Closed by edd66ea97918f14ce5e2ae8a70c5a796ff33ba20.

[2015-05-10 17:04] #54 closed

[2015-05-10 17:05] EvanHahn commented on #58
Closed by 87e56223490d21a917879306e41a8949d756fd6f.

[2015-05-10 17:05] #58 closed

[2015-05-10 17:09] EvanHahn opened #60 "Add HTML test page"
As mentioned in #59:

We should built `evanhahn.github.io/humanizeduration.js` that lets you test everything to see how it shows up.

[2015-05-10 17:20] EvanHahn opened #61 "Change decimal/thousands separator based on locale"
In English, I might write _4,206.9_. In Spanish, I might write _4.206,9_.

You should be able to override this, but we'll need to add this to the language definitions.

Some related links I found:

- <https://en.wikipedia.org/wiki/Decimal_mark#Hindu.E2.80.93Arabic_numeral_system>
- <https://docs.oracle.com/cd/E19455-01/806-0169/overview-9/index.html>

[2015-05-10 17:24] EvanHahn commented on #59
I split this up into #60 and #61.

I don't fully understand the distinction between short and long-form Hungarian durations. Do we want two separate languages, like this?

[code]

Or should the language definition look more like this?

[code]

Sorry for not understanding Hungarian!

I think I'm going to leave out Klingon support for now ;).

[2015-05-10 17:29] EvanHahn commented on #49
So would the API look something like this?

[code]

And is there a standard for these pairs? I couldn't find `zh_CN` or `zh_TW` in any official ISO standard.

[2015-05-10 17:31] EvanHahn commented on #46
I'd estimate within the week. There's a lot of localization stuff I'm running into—sorry!

[2015-05-10 17:33] tazmaniax commented on #46
Please don't apologise :) I feel bad I can't contribute more. A big thanks to you!

[2015-05-10 17:34] evilaliv3 commented on #59
i think the suggestion by @vargaviktor was to have both hu and shortHu but this is valuable only if for all the languages we want to go for this duplication.

[2015-05-10 17:38] EvanHahn commented on #59
Why would all languages have to do that? Couldn't you just choose short Hungarian if you wanted it?

Is it because we don't want to make developers have to know about Hungarian?

[2015-05-10 17:40] evilaliv3 commented on #49
i think we should simple keep a language name "zh_CN" and "zh_TW" and not splitting into language and locale exactly as you have doe so far and listing both in the support. will  be the user that will select directly the dialect by chosing among  "zh_CN" or "zh_TW"

this apply not only to chinese but to every language. in the future for example it will be possible that for portugal (pt) for each n

[2015-05-10 17:42] evilaliv3 commented on #59
i mean that in the future for each language we may have an API for asking for 'long', 'short' and providing the long or the short version. for now that we dont's have so any other short versiion we will cause only overhead to the project.

[2015-05-10 20:53] vargaviktor commented on #59
Yes Evan,
I think the user of the js should not know about anything in hungarian.
Just select the short or long.

Just an idea. 😃
2015.05.10. 19:42 ezt írta ("Giovanni Pellerano" <notifications@github.com

[2015-05-10 21:09] EvanHahn commented on #59
@vargaviktor Would you be okay with an API like this, then?

[code]

[2015-05-10 21:21] evilaliv3 commented on #59
@EvanHahn it does not make sense for me.
i mean as adopter of the library in my application i've a list of languages supported let say: it, pl, hu
as example i would like to configure humanizer to configure humanize to use the short and then depending on a scope variable e.g. $scope.language have the respective translation applied.  so the language will be always hu, but depending on a global vari

[2015-05-10 21:22] evilaliv3 commented on #59
anyway for a metter of semplicity i think eventually it would be better to not integrate the shorter version now and eventually evaluate if we would like to have this feature for all the languages or not and how much is relevant.

[2015-05-10 21:25] evilaliv3 commented on #59
the reason is that currently the library has already some limit due to the fact that in dates the order of the date components are not the same in each languages.
e.g the ordered form DAY/MONTH/YEAR in some countries is written MONTH/DAY/YEARS an currently the library does not take in account this thing.

given that i see the shorter form an addition feature not functional to the scope of the libr

[2015-05-10 21:25] evilaliv3 commented on #59
@vargaviktor do you hava any clue on this?

[2015-05-10 22:57] vargaviktor commented on #59
Hi,

I think the short form is not critical.
Can live.without it. 😃

In Hungary, we write dates in this form year month day. 😃
2015.05.10. 23:25 ezt írta ("Giovanni Pellerano" <notifications@github.com

[2015-05-19 09:22] mkavanagh opened #62 "Return zero if value rounds away to zero"
Currently, if you pass `round: true` and the value to be formatted is less than half of the smallest allowed unit, you get an empty string as result:
[code]

IMO this makes more sense:
[code]

(i.e. if we're on the last unit and we haven't added anything to the result yet, do it regardless of whether the unit count is zero)

[2015-05-19 15:11] EvanHahn commented on #62
Good catch—this is a bug.

Related question: right now, there's [a bit of code](https://github.com/EvanHahn/HumanizeDuration.js/blob/master/humanize-duration.js#L253-L255) that returns `"0"` if you pass _exactly_ zero.

[code]

What should happen there?

[2015-05-19 15:23] EvanHahn commented on #59
Okay. Sounds like I can close this issue for now (and work on #60 and #61)?

[2015-05-19 17:11] evilaliv3 commented on #59
ok!

[2015-05-19 17:24] #59 closed

[2015-05-21 23:39] EvanHahn opened #64 "Should Arabic use East Arabic numerals?"
I don't know anything about Arabic, but I saw [the "East Arabic numerals"](https://en.wikipedia.org/wiki/Eastern_Arabic_numerals) article on Wikipedia.

Does anyone know?

[2015-05-22 10:03] mkavanagh commented on #62
my preference would be to return 0 in the smallest allowed unit in either case - then it still reads as a duration, e.g.
[code]

[2015-05-22 12:46] EvanHahn commented on #62
Agreed.

[2015-05-22 21:12] TheMcMurder commented on #62
+1

[2015-05-22 22:07] peterbe opened #65 "30 seconds instead of 0.5 minutes"
As demonstrated here: http://jsfiddle.net/o3fkjtfL/

The humanize for 30*1000 milliseconds is 0.5 minutes. It looks strange. Especially since the output is, on an incremental counter:
[code]

[2015-05-24 19:33] EvanHahn commented on #65
I'm going to remove this in version 3.0.0.

[2015-05-29 15:29] EvanHahn opened #66 "Many language test definitions are redundant"
We test the same inputs multiple times. Minor issue.

[2015-05-29 19:01] EvanHahn commented on #46
This is in the 3.0.0 branch and will be merged very soon.

[2015-05-29 20:32] #46 closed

[2015-05-29 20:32] #61 closed

[2015-05-29 20:32] #62 closed

[2015-05-29 20:32] #65 closed

[2015-05-29 20:32] #66 closed

[2015-05-29 20:32] EvanHahn commented on #49
Closed in 3.0.0.

[2015-05-29 20:32] #49 closed

[2015-05-29 22:54] evilaliv3 commented on #49
well done man!

[2015-06-01 21:34] NKozlov opened #68 "Add a function that will return the localized word for values."
Emerging needs, when you need to know only the localized word, not the value. For example, the need has arisen when using the module [angular-timer](https://github.com/siddii/angular-timer).
I am sure that your module is very useful in this way.

[2015-06-02 02:44] EvanHahn commented on #68
What is the use case for this? I admit that I'm hesitant to address this.

[2015-07-13 20:20] phongmedia opened #71 "Won't Initialize in Strict Mode"
Hi, I'm running into an issue with this package when it's being built into a javascript file which is declared in `strict mode`. The file it's included in must remain in strict mode, so when I build it this package into the  JS file, or declare `"use strict";` for that matter in the function itself, it gives this error:

`Uncaught TypeError: Cannot set property 'humanizeDuration' of undefined`
`hu

[2015-07-13 20:24] phongmedia commented on #71
By changing `this` to `window` fixes it. @EvanHahn What do you think about using `window` rather than `this`? Are there any known drawbacks?

[code]

[2015-07-13 21:29] #71 closed

[2015-07-13 21:30] EvanHahn commented on #71
@phongmedia I believe I fixed this. Could you try [the latest version](https://github.com/EvanHahn/HumanizeDuration.js/blob/c408020463bbe61bbba38ce0fb3da6d37080837e/humanize-duration.js) and make sure the issue is fixed?

[2015-07-15 02:06] phongmedia commented on #71
@EvanHahn Great thanks, I see the one you linked there uses `global.`, I'll give that a try, so you can assume it works fine in strict mode unless I message you again. Thanks!

[2015-07-15 18:01] EvanHahn commented on #71
@phongmedia Have you tested it? If so, I'll push a new patch version.

[2015-07-15 22:54] EvanHahn commented on #68
Do you mind if I close this?

[2015-07-18 08:21] NKozlov commented on #68
Hello! I'm sorry I took so long to answer, I was on vacation at sea.
There needs when you need to get the word correctly, depending on the time. By adding a function to your library - it will be implemented. Not always have the need to display the time in a format that you offer.

[2015-07-19 18:48] EvanHahn commented on #68
Could you offer some sample code that would use this feature?

[2015-07-21 06:17] NKozlov commented on #68
See this link: https://github.com/NKozlov/wedding-page/blob/master/resources/javascript/lib/angular-timer.js#L228-L233

[2015-07-21 08:21] mickeyvip opened #73 "Add an ability to round to custom number of decimal points"
Hi and thank you!

I think it would be a great addition to have be able to round to a specific number of decimal places:

now:

[code]

would be nice:

[code]

[2015-07-21 08:26] mickeyvip opened #74 "Make Humanizers option to be able to take a function with current value"
Hi and thank you.

I have a situation where I need to decide if to round or not the value based on... the value:

[code]

I use it in many places so it makes sense to create a `Humanizer` similar to:

[code]

[2015-07-22 02:52] EvanHahn commented on #73
Could this just proxy to `toFixed`?

[code]

[2015-07-22 02:53] EvanHahn commented on #74
I'd be hesitant to do this instead of #73. You could solve it with something like this:

[code]

[2015-07-22 04:33] mickeyvip commented on #74
Sorry for the typo in the title.

I am doing what you are proposing (the curly braces got lost, because I copied the example from CoffeeScript), but if I do it in many places, it would be shorter to create 1 `humanazer` and use it instead.

[2015-07-22 04:34] mickeyvip commented on #73
If I proxy it to `.toFixed()` I would lose the time units.

[2015-07-26 23:03] EvanHahn commented on #68
I will endorse a fork but I do not want to bloat this library with more features. Closing this for now.

[2015-07-26 23:03] #68 closed

[2015-08-17 18:20] brandly commented on #60
made a real simple demo: http://brandly.github.io/humanize-duration-demo/

i didn't fork since i wasn't sure how you'd want the repo. like, maybe you want all that code to live alone on the `gh-pages` branch, or maybe you want it in a `demo/` on `master`. or maybe you hate it

also, what language is `gr`? it's not listed under [supported languages](https://github.com/EvanHahn/HumanizeDuration.js#s

[2015-08-17 18:30] EvanHahn opened #77 "Greek is not named in the readme"
#60 pointed out that Greek isn't listed in the readme.

[2015-08-17 18:31] EvanHahn commented on #60
@brandly I dig this. What if I added you as a collaborator and gave you control of `gh-pages`?

[2015-08-17 18:36] brandly commented on #60
i'm down

[2015-08-17 23:59] #77 closed

[2015-08-18 00:02] EvanHahn commented on #60
I've added you as a collaborator. `gh-pages` has some stuff on it at the moment—feel free to blow any of it away.

[2015-08-18 03:42] brandly commented on #60
do you want docs on that page too? regardless, i'll expose `humanDuration` to `window` so people can have fun in the console

[2015-08-18 03:46] EvanHahn commented on #60
I think I'd like a link to the docs at the very least. Totally up to you.

[2015-08-18 18:46] brandly commented on #60
i pushed [a demo](https://github.com/EvanHahn/HumanizeDuration.js/commit/07754129eb01a5143c50e9ace00d0829269ae67a). for some reason, it's not showing up for me yet [on github.io](http://evanhahn.github.io/HumanizeDuration.js/), but maybe it will be there once you see this, unless i did something silly

[2015-08-18 19:54] EvanHahn commented on #60
This looks great! I'll add a link to this and then we can call this issue closed.

@brandly, would you add yourself to the `contributors` in `package.json` and `bower.json` on `master`?

[2015-08-18 20:12] #60 closed

[2015-08-18 20:12] brandly commented on #60
[added myself to contributors](https://github.com/EvanHahn/HumanizeDuration.js/commit/f2b70958f7e4044b0495bb293174202dcfb305df)

[2015-08-18 20:14] EvanHahn commented on #60
$$$$$$$$$$$$$$

[2015-09-08 02:27] dangercris opened #78 "Its impossible Uglify"
Hi Dude, your code is awesome and Useful but is impossible minify and concat with another dependencies, can you make it possible?

[2015-09-08 15:09] EvanHahn commented on #78
I have been able to minify and concat with no problem. What issues are you seeing?

[2015-09-15 08:16] sebastianhaas opened #80 "AngularJS filter"
Hey! Would you be interested in an AngularJS filter wrapping this library? Or do you rather prefer a separate repository for that?

Thanks!

[2015-09-15 08:17] sebastianhaas commented on #80
Btw I already wrote one, really simple. Just a few lines and works great.

[2015-09-15 17:40] EvanHahn commented on #80
I'd prefer that in a separate library. I'd be happy to link to it from the readme!

[2015-09-15 17:40] EvanHahn commented on #78
@dangercris What issues were you seeing when minifying?

[2015-09-21 08:36] sebastianhaas commented on #80
Alright then. I've pushed a first version to bower. Works fine for me.

https://github.com/sebastianhaas/angularjs-humanize-duration

[2015-09-21 11:34] NetanelBasal opened #81 "Accept other value instead milliseconds"
I need to humanize number, but I get the number in minutes, and I required to do this:

[code]

There is an option to do this native with the plugin?

[2015-09-21 15:31] EvanHahn commented on #81
The library doesn't handle this. I don't intend to add this functionality; JavaScript deals with everything in milliseconds.

[2015-09-21 15:31] #81 closed

[2015-09-21 16:28] dangercris commented on #78
when I Uglify and Minify you code with angular dependencies and more the i have error with you library got undefined, the solution was Concat and minify with you library at the top of the main file an later other dependencies

[2015-09-21 16:35] EvanHahn commented on #80
Added to the readme in ab5c22cbf19e3257a4af00f294538a0c00dd8dc6. Thanks!

[2015-09-21 16:35] #80 closed

[2015-09-21 16:49] EvanHahn commented on #78
Could you create a [gist](https://gist.github.com/) that demonstrates your problem?

[2015-09-21 17:36] brandly commented on #81
@NetanelBasal you could use the [`milliseconds` module](https://www.npmjs.com/package/milliseconds) to say

[code]

[2015-09-21 17:44] dangercris commented on #78
The diference is in my first file I need put at the top you library and all work like a charm, but when I uglify my main file with your library in different order this got undefined :(
https://gist.github.com/dangercris/0c257f747b0f4e9d40f8

[2015-09-22 20:19] EvanHahn commented on #78
What is the error that you see?

[2015-10-06 16:34] dangercris commented on #78
Your funciton got Undefinied

[2015-10-06 17:36] EvanHahn commented on #78
Could this be because you're using Angular? Take a look at this: <http://stackoverflow.com/a/24659782>

[2015-11-05 16:28] jakobholmelund commented on #71
It works..

[2015-11-05 18:06] EvanHahn commented on #71
Is this all solved?

[2016-01-10 02:47] EvanHahn opened #84 "Recommend millisec module in Readme"
https://github.com/sungwoncho/millisec

[2016-01-12 21:32] #84 closed

[2016-01-12 21:32] EvanHahn commented on #78
@dangercris Any updates on this?

[2016-01-12 22:10] jaf0 commented on #78
angular.module('myApp').value('HumanizeDuration', HumanizeDuration);

then you can inject it

[2016-01-12 22:25] EvanHahn commented on #78
Alright to close this issue?

[2016-01-12 22:31] jaf0 commented on #78
no connection to the OP, but inactive for 4 months ... be my guest :+1:

[2016-01-13 00:09] EvanHahn commented on #78
Closing for now. Feel free to continue discussion or open a new issue.

[2016-01-13 00:09] #78 closed

[2016-01-13 15:58] EvanHahn opened #86 "Add Standard.js badge to readme"

[2016-02-04 16:54] lolobosse opened #88 "Round to next year if previous round was 12 months."
Hi there,

I tested the lib with some random data and I think I find a small bug.

Here is my code:

[code]

And duration is `116 Jahre, 12 Monate` which is a bit incoherent I guess.

Great work though!

Best

[2016-02-04 18:29] EvanHahn commented on #88
Good catch! I'll fix this.

[2016-02-09 19:49] Drasius2 opened #89 "Silly question."
Hello. I want to add new language. I see that there is test and generated SCV files.
So. How to generate this CSV file for new language?

And I added reference to my web page with new language support.
And it throws:
humanize-duration.js:479Uncaught TypeError: Cannot set property 'humanizeDuration' of undefined

And this 479 line is :
`this.humanizeDuration = humanizeDuration`
from

[code]

So wha

[2016-02-10 21:56] #89 closed

[2016-02-10 21:57] Drasius2 commented on #89
Fount how to. Eh... need to read "CONTRIBUTING.md"

[2016-02-12 17:29] EvanHahn opened #91 "Update readme code samples to use single quotes"

[2016-02-12 17:30] EvanHahn commented on #57
I agree that this is valuable, but I don't have time to set this up. I'm going to say that this is a _wontfix_.

[2016-02-12 17:30] #57 closed

[2016-02-19 17:22] EvanHahn commented on #56
I think this is a good idea but not something this project is going to take the time to do.

[2016-02-19 17:22] #56 closed

[2016-02-19 17:25] EvanHahn commented on #64
I'm going to close this issue because it hasn't had movement in several months. If someone submits a patch or new issue, we'll revisit.

[2016-02-19 17:25] #64 closed

[2016-02-19 17:53] #86 closed

[2016-02-19 17:53] #91 closed

[2016-02-19 19:42] #88 closed

[2016-02-19 19:48] EvanHahn commented on #88
This should be fixed in `humanize-duration@3.6.1`. Let me know if you run into more issues?

[2016-02-19 19:48] EvanHahn commented on #73
If you'd like to submit a PR, feel free!

[2016-02-19 19:48] EvanHahn commented on #74
Feel free to submit a pull request for this.

[2016-02-23 09:46] ipeshev opened #92 "The examples in readme.md are not accurate"
The example for adding new language is not working
...
 shortEn: {
      y: function() { return 'y' },
      mo: function() { return 'mo' },
      w: function() { return 'w' },
      d: function() { return 'd' },
      h: function() { return 'h' },
      m: function() { return 'm' },
      s: function() { return 's' },
      ms: function() { return 'ms' },
    }
...
when looking at the code it app

[2016-02-23 15:24] dangercris commented on #78
@EvanHahn the ng-annotate was the solution thanks

[2016-02-23 17:49] EvanHahn commented on #92
I just tried running this code and it worked for me:

[code]

Are you perhaps using an old version of the library?

[2016-02-24 12:11] ipeshev commented on #92
Yes this should be the reason

[2016-02-24 12:11] #92 closed

[2016-02-25 23:23] digitalhobo opened #93 "Font Size"
Great module, thanks.

Is their a way to manipulate the font size, so that the number are different sizes to the corresponding result. For example '2 min' would be 2 `<small>min</small>`

Thanks in advance :0)

[2016-02-27 17:12] EvanHahn commented on #93
I don't intend to add this feature, but you can do it with the `spacer` and `delimiter` feature.

[code]

[2016-02-27 17:12] #93 closed

[2016-03-05 17:23] marcj commented on #73
That would be awesome :)

[2016-04-16 21:40] tazmaniax opened #98 "enabling round does not give correct result"
Hi,

If I use `humanizeDuration(moment().diff(thisDate), { delimiter: ' ', largest: 3 });` then I get something like `21 minutes 16.291 seconds` but if I include the round parameter like `humanizeDuration(moment().diff(thisDate), { delimiter: ' ', largest: 3, round: true });` then I get `0 seconds`

I'm using v3.7. Am I doing something wrong?

thx,
Chris

[2016-04-16 21:43] EvanHahn commented on #98
Hmm. Could you provide a sample input (ie, what is the value of `moment().diff(thisDate)`)?

[2016-04-16 22:03] tazmaniax commented on #98
thisDate is "2016-04-16T22:13:56+0100" and the duration coming out of moment().diff(thisDate) is 2838550.

[2016-04-18 17:17] EvanHahn commented on #98
Hmm, this looks right to me:

[code]

Is that the output you're getting?

[2016-04-19 16:40] astoellis commented on #98
I'm getting the same result as @tazmaniax . Looks like it's an issue around the rounding issue.
[code]
 Once it enters the `if (options.round)` block, pieces looks as thus:

![image](https://cloud.githubusercontent.com/assets/2126677/14647236/d45b5ec2-062a-11e6-865e-a6e5b20c71da.png)

But it comes out
![image](https://cloud.githubusercontent.com/assets/2126677/14647453/cb63774a-062b-11e6-820d-3a67

[2016-04-19 22:26] EvanHahn commented on #98
Thanks for reporting and digging--I think I may have been testing on an old
version. I'll take a look.

[2016-04-21 13:36] marqu3z opened #99 "change language globally"
I find useful to have a method allowing to change the language for all the humanization.
The library allow to pass an option to set the language, but it is one shot.

[code]

Right now i tried a workaround for changing the language globally, but it sounds a little dirty:
[code]

It could be really helpful to have a method to change the language globally.
Like `setLanguage()`, `setPreferredLanguage

[2016-04-23 19:34] EvanHahn commented on #99
This is intentional.

Imagine a library called `CuantosDías.js` that tells you how many days are in a number of milliseconds. Here's how it might work:

[code]

You could build it with a `defaultLanguage` property:

[code]

But what happens if you change the default language somewhere?

[code]

This can cause unexpected results, which is why I removed this feature.

[2016-04-23 19:34] #99 closed

[2016-04-23 19:40] EvanHahn commented on #98
Sorry I'm slow to fix this! I've been busy.

[2016-04-27 00:15] EvanHahn commented on #98
This has been fixed in `humanize-duration@3.7.1`. Thanks to @brandly for his helpful PR!

[2016-04-27 00:15] #98 closed

[2016-04-27 07:22] tazmaniax commented on #98
Thx!

[2016-05-11 11:03] jsejcksn opened #103 "Add option for abbreviated units"
This library is so excellent! After seeing that Moment.js did not support granular display, I was very glad to see this.

I am wondering if it wouldn't be too difficult to implement abbreviated units of time. For example:

- s for seconds
- m for minutes
- h for hours
- d for days
- w for weeks
- ? for months
- y for years

(I'm sure there's a standard for this somewhere).

The reason why I'm aski

[2016-05-11 14:18] EvanHahn commented on #103
You can do this by creating a humanizer with a new language, like so:

[code]

Does that help?

[2016-05-11 20:29] jsejcksn commented on #103
@EvanHahn Definitely! Sorry, I clearly missed [that part of the documentation](https://github.com/EvanHahn/HumanizeDuration.js/blob/master/README.md#humanizers) when I skimmed it. Should have read more thoroughly before posting. Thanks.

[2016-05-11 20:29] #103 closed

[2016-05-11 20:35] EvanHahn commented on #103
No worries!

[2016-08-19 12:31] moberwasserlechner opened #108 "Feature: Add Typescript declarations"
Hi,

it would be great to have typescript declarations because it would make it easier to use with Angular2 (Typescript) projects.

https://www.typescriptlang.org/docs/handbook/writing-declaration-files.html

Thanks and BR,
Michael

[2016-08-19 15:25] EvanHahn commented on #108
I'm happy to accept a pull request for this, even one that's incomplete!

[2016-11-23 11:40] nfvs opened #110 "Feature: add option for keeping zeros in the output"
Sometimes it may make sense having the output with the same length by keeping zeros.

Eg. `21h 06m 00s` instead of `21h 6m`

[2016-11-23 16:19] EvanHahn commented on #110
What do you think the API should look like?

[2016-11-23 16:20] nfvs commented on #110
I guess just an option like `{leading_zeros: True}`

[2016-11-23 16:30] EvanHahn commented on #110
It seems like the option might need to be numeric, like `{ leadingZeros: 2 }` so that the library knows how many leading zeros to insert. Do you agree?

[2016-11-23 16:58] nfvs commented on #110
I'm afraid I don't :-)

There are only 60 seconds in a minute, 60 minutes in an hour and 24hours in a day. I don't see a case where you would ever want more than two digits. Maybe calling it `leading_zeros` is misleading?

[2016-11-23 17:01] EvanHahn commented on #110
It might make a little more sense for things like years or milliseconds, where the number of leading zeros isn't necessarily constant. There are some other examples, too, like if you want to humanize the whole string in hours only.

What do you think?

[2016-11-26 18:32] EvanHahn commented on #110
What about something more flexible? Perhaps something that'd return
each unit with its number and you could build this functionality
yourself?

[2017-01-06 20:55] robodude commented on #110
I'm listing a bunch of humanized times and would love a feature like this in order to keep the columns nice and tidy.

Maybe a new config option that works similarly to the language/word configuration for creating a language

For instance, I'd create a custom humanizer that could be configured like this:
[code]

The defaults would just return the original

[2017-01-25 16:18] topr commented on #73
Perhaps `round` param could take a function instead of boolean value. This would be far more flexible as I need for example to cut off seconds, not to round them.

[2017-02-02 22:58] EvanHahn commented on #73
@topr Agreed. One thing that makes this tricky is how rounding affects other numbers. For example, what happens if you do something like this?

[code]

[2017-02-03 13:58] topr commented on #73
Would it be an issue? Not sure but I guess result should then be the same
as if 0 would be passed in instead of 123456, shouldn't it?

I don't think the lib should care or prevent such a misuse. If someone
passes a custom impl then it's his responsibility to make it right.

I was mostly thinking about use cases like `humanizeDuration(123456, {
round: Math.floor })`

On 2 Feb 2017 22:58, "Evan Hahn

[2017-02-04 13:22] EvanHahn commented on #73
What if you're trying to humanize the largest 2 units and then you choose to round down? For example, your result might start like this before you round and do your cutoff:

Depending on how you round, the results can be different. If you round up, you could get "3 weeks". If you round down, you should get "2 weeks, 6 days". These rounding issues can cascade, which is why it's tricky (but not impo

[2017-03-01 16:52] vincentjames501 commented on #73
+1. This would be nice.

[2017-03-22 12:59] menthol opened #117 "Feature Request: Option for automatic localized conjunction"
For now, we have to localize conjunction rules outside of your project.
Will be nice if we can have a simple option to turn on localized conjunction.
ex: `humanizeDuration(1000000000000, {largest: 3, conjunction: true, language: 'fr'})` => `31 ans, 8 mois et 1 semaine`

ex language config:
[code]

I can easily make a pull request with needed code to make it work, but, I can't get all rules for eac

[2017-04-03 17:20] EvanHahn commented on #117
I think this is a good idea but I'd prefer it to be part of another module—I'm trying to avoid adding new features to this library.

If you want to make your own, I'm happy to link to it from the readme!

[2017-04-03 17:20] #117 closed

[2017-04-17 12:47] canerelci opened #118 "Bulgarian Support"
I tried to create a pull request for Bulgarian support but failed with some reason. Anyway, it's not a big thing, you might add these into languages object:

    bg: {
      y: function (c) { return ['години', 'година', 'години'][getSlavicForm(c)] },
      mo: function (c) { return ['месеца', 'месец', 'месеца'][getSlavicForm(c)] },
      w: function (c) { return ['седмици', 'седмица', 'седмици'][g

[2017-04-17 17:00] EvanHahn commented on #118
This looks good! Would you be able to add tests? You can see an [example English file here](https://github.com/EvanHahn/HumanizeDuration.js/blob/master/test/definitions/en.csv).

[2017-05-14 18:12] stevenvachon commented on #73
Do it.

[2017-05-20 00:55] EvanHahn commented on #73
Lots of people seem to want this feature and things around it. I want to do it but I'm worried it gets _really_ hairy with lost of corner cases. What do people think about [my comment from February](https://github.com/EvanHahn/HumanizeDuration.js/issues/73#issuecomment-277445601)?

[2017-05-20 16:36] stevenvachon commented on #73
[code]

[2017-05-23 14:56] EvanHahn opened #120 "This module is in maintenance mode"
I no longer have time to add new features to this module, unfortunately.

If you're interested in taking over the project, please leave an issue here and we can discuss! You can also send an email to <me@evanhahn.com> if you'd prefer.

[2017-06-07 03:23] agungwiseso opened #121 "Units Value Format"
Hi, I have a code like this, Why I got 11845D? without Hours, Minutes, and Seconds?

[code]

[2017-06-07 05:06] EvanHahn commented on #121
I believe 1,023,408,000,000 milliseconds evenly comes out to 11,845 days. Try changing your input to see other values.

[2017-06-10 16:10] EvanHahn commented on #121
@agungwiseso Did that fix your problem?

[2017-06-11 10:01] agungwiseso commented on #121
Hi, Yes, i have fixed it.
Thanks for your reply.

[2017-06-11 10:01] #121 closed

[2017-06-29 16:33] DiegoZoracKy commented on #120
Will you still accept and merge PRs?

[2017-06-29 16:53] EvanHahn commented on #120
@DiegoZoracKy Yes for bugfixes and small changes; no for large features.

[2017-06-29 17:04] DiegoZoracKy commented on #120
I was thinking about trying to get the language from navigator.language,
and set it as the default language. Is this the kind of features that you
wouldn't be accepting?

On Jun 29, 2017 1:53 PM, "Evan Hahn" <notifications@github.com> wrote:

[2017-06-29 17:07] EvanHahn commented on #120
I don't want this library to depend on the browser, so I don't think I'd accept that change. Happy to add something to the readme to show how to do that, though!

[2017-06-29 17:16] DiegoZoracKy commented on #120
Yes, I also thought about. We could also try to get the locale from OS when
running on Node.js.

On Jun 29, 2017 2:07 PM, "Evan Hahn" <notifications@github.com> wrote:

[2017-06-29 17:22] EvanHahn commented on #120
Could you create a new issue so we can move discussion there?

[2017-06-29 17:31] DiegoZoracKy opened #122 "Set the default language trying to get it from the browser, or from the system locale (Node.js)."
The module could try to get the language from navigator.language, or from the system local when running on Node.js, to set it as the default language. Instead of having 'en' hardcoded.

[2017-06-29 17:33] DiegoZoracKy commented on #120
Done! #122

On Jun 29, 2017 2:22 PM, "Evan Hahn" <notifications@github.com> wrote:

[2017-06-29 21:22] EvanHahn commented on #122
I'm pretty hesitant to do this for a few reasons.

1. This would be a breaking change and certainly a big feature—something larger than I am willing to take on as a maintainer (see #120).
1. We'll always need to have a fallback anyway.
1. We'll need to have pretty significantly different code paths for Node and the browser. And what about other, more obscure JS environments like Rhino?
1. Will the

[2017-06-30 00:21] DiegoZoracKy commented on #122
@EvanHahn, ok, but do you think it would be really useful to have a snippet for that as an example? My initial idea was to reduce the code needed to accomplish that, as I believe this is a common case and people are probably already doing it by hand.

[2017-06-30 03:06] EvanHahn commented on #122
I'm not sure how many other people have this issue. If lots of other people do this, I think the snippet is helpful. We could put it lower down in the readme or even in the GitHub wiki.

Or what about a companion library that grabs the language? Something like this:

[code]

Neither of these require code changes to the library.

[2017-07-01 04:22] DiegoZoracKy commented on #122
_"I'm not sure how many other people have this issue. If lots of other people do this..."_

I believe this is probably a very common use of this library. I can think quickly about some scenarios:

**A app with i18n is being created** (front-end)
The goal would be to show it using the same language as the user (supposing that the whole app in case has support for the user language). Guessing from t

[2017-07-01 19:04] EvanHahn commented on #122
I think you're totally right.

Do you want to make a pull request to add an example to the readme? You
could also comment below and I could add it myself.

[2017-07-02 20:27] DiegoZoracKy commented on #122
I'll find some time to do that.

[2017-07-21 21:07] EvanHahn commented on #118
@canerelci Any updates?

[2017-09-12 00:53] DiegoZoracKy commented on #122
Hi @EvanHahn. Sorry, I'm currently having just a bit of free time per day and I'm using it to finish a new module that I've been creating. The idea is to release it soon. So after that maybe I can get back to this issue, ok?

[2017-10-25 16:22] EvanHahn commented on #73
This library is in maintenance mode, so I won't be adding new features, sadly. I'm going to close this issue. See #120 for more.

[2017-10-25 16:22] #73 closed

[2017-10-25 16:22] EvanHahn commented on #74
This library is in maintenance mode, so I won't be adding new features, sadly. I'm going to close this issue. See #120 for more.

[2017-10-25 16:22] #74 closed

[2017-10-25 16:24] EvanHahn commented on #108
The TypeScript declarations should live in the [DefinitelyTyped repo](https://github.com/DefinitelyTyped/DefinitelyTyped), so I'm going to close this issue.

[2017-10-25 16:24] #108 closed

[2017-10-25 16:25] EvanHahn commented on #110
This library is in maintenance mode, so I won't be adding new features, sadly. I'm going to close this issue. See #120 for more.

[2017-10-25 16:25] #110 closed

[2017-10-25 16:25] EvanHahn commented on #118
There hasn't been movement on this for about 6 months, so I'm going to close this issue. Feel free to comment if you wish to pick this back up.

[2017-10-25 16:25] #118 closed

[2017-10-25 16:26] EvanHahn commented on #122
I'm going to close this issue because this module is in maintenance mode (see #120). Feel free to continue discussion here and we can see about adding something to the readme or endorsing a fork.

[2017-10-25 16:26] #122 closed

[2017-10-25 16:33] stevenvachon commented on #73
Use [pretty-ms](https://npmjs.com/pretty-ms) instead.

[2017-10-25 17:26] nfvs commented on #110
@EvanHahn sorry to hear that, but thanks for your work 🍻

[2017-11-02 19:52] canerelci commented on #118
Sorry, I totally forgot about this. Let me check what can I do. Would you like me to send a PR?

[2017-11-02 21:50] EvanHahn commented on #118
Thanks for your PR! We'll keep talking on #126.

[2018-06-08 21:08] sam-lex opened #132 "Lao Language support"
Hello, thanks for this awesome lib.
Would you be interested in adding support for Lao language? (p.s.: "milliseconds" seems to be non-existent in Laotian)

[code]
Translation credits to: `Malikoun`

Right now I'm just using a custom humanizer with it defined, and works great. I can provide a PR next week or so if you want.

[2018-06-09 01:29] EvanHahn commented on #132
A PR would be great!

[2018-06-12 22:35] #132 closed

[2018-06-26 11:51] TGM opened #136 "Example to measure with seconds given as input"
Hello,

Can you update the manual with an example of how to measure the time with seconds given as input?

[2018-06-26 14:32] EvanHahn commented on #120
Closing this issue—I'll maintain it but not add new features.

[2018-06-26 14:32] #120 closed

[2018-06-26 14:34] EvanHahn commented on #136
Do you mean something like this?

[code]

Or something else?

[2018-07-11 12:31] jvorcak opened #139 "User can't control a precision for floats"
If I create a custom language and pass a number `8255.28`, it outputs `8s 255.28000000000065ms` which is not wanted.

It happens because of this line
https://github.com/EvanHahn/HumanizeDuration.js/blob/master/humanize-duration.js#L493

[code]

[2018-07-11 16:06] EvanHahn commented on #139
To quote the readme, HumanizeDuration.js "is actively maintained but no new features will be added." This sounds like a new feature, unfortunately.

I realize it's not as powerful as the `maxDecimalPoints` feature you added in #140, but would the `round` option solve this problem?

[2018-07-11 17:37] jvorcak commented on #139
Not really. Using `round` is not powerful enough, we're specifically interested in 2 numbers after `,`.

I think that if a library outputs `8s 255.28000000000065ms` for `8255.28` input, it can be considered as a bug. Can you re-consider adding this?

[2018-07-11 22:03] EvanHahn commented on #139
Good point—it's arguably a bug.

I'll think about this and get back to you.

[2018-07-15 14:29] EvanHahn commented on #136
@TGM I'm going to close this issue because I haven't heard back, but let me know if you have more questions!

[2018-07-15 14:29] #136 closed

[2018-08-07 09:10] schoofseggl opened #141 "Round is not working correctly"
I think there is an issue with the round function. See this plunker:

https://plnkr.co/edit/RRyKjyroA2ho9wZcO1gn?p=preview

For 7200 sec, the result will be 2 hours. Fine.
For 7199 sec  the result is now 1 hour for options.largest =1. Shouldn't it be 2 hours?

[2018-08-08 23:26] EvanHahn commented on #141
Sorry to take a few days to respond to this! Could you post a snippet of JavaScript that reproduces this problem?

[2018-08-09 05:54] schoofseggl commented on #141
Have you noticed the plunk above? It's a small angular filter calls the shortEn humanizer (took it from your website)

[2018-08-09 18:43] EvanHahn commented on #141
I have but I didn't see how it reproduced the problem (the `largest` option didn't appear to be set). Any chance you could do something that isn't Angular-specific?

I'm happy to dig into this further but am busy so it might take me awhile to get to this.

[2018-08-10 06:19] schoofseggl commented on #141
Vanilla plunk:

https://plnkr.co/edit/KYn1iltDBl4viEDQE4Ig

[2018-08-10 18:16] EvanHahn commented on #141
Hmm, that didn't appear to work for me. Could you just show a call to `humanizeDuration` that breaks for you? It doesn't need to be in a Plunker...something like:

[code]

[2018-08-13 05:48] schoofseggl commented on #141
Arg, forgot to save the plunk. New one: https://plnkr.co/edit/WwL30XZbp8kffm5EN22I?p=preview

For 7200 seconds I get

with round, largest 2: 2 hours
with round, largest 1: 2 hours

Which is correct obviously

However 7199 seconds yields

with round, largest 2: 1h 59m (correct)
with round, largest 1: 1h

But shouldn't this be rounded to 2h?

[2018-08-24 19:11] EvanHahn commented on #141
Yes, I think you're right.

Any chance you would be able to submit a pull request for this? I am pretty busy and likely won't be able to get to this too soon.

[2018-09-01 18:07] EvanHahn commented on #139
For future reference, let's discuss this in the PR at #140.

[2018-09-10 11:10] A-ezzat1997 commented on #141
@EvanHahn  I can help in this if you're still busy

[2018-09-10 14:00] EvanHahn commented on #141
@A-ezzat1997 That'd be great!

[2018-09-18 13:57] thiagonuic opened #143 "Fix greek translation code"
I noticed that the Greek code you are using is `gr`, but for i18n greek uses `el`. The `gr` code is just for the domain names. Perhaps it would be a good idea to keep both to avoid breaking whoever is using the lib at the moment.

Thanks for the lib btw!

[2018-09-18 14:04] EvanHahn commented on #143
Good catch! I'll try to fix this soon.

[2018-09-18 19:38] #143 closed

[2018-09-18 19:44] EvanHahn commented on #143
This should be fixed in `humanize-duration@3.15.3`. Thanks for your report!

[2018-10-05 10:52] EmilMoe opened #144 "Different value for NULL"
It would be a great feature, I think, if `null` would return `None` or similar in different languages? What do you think? You can still get out `0` by simply using `0`.

An example could be:

[code]

[2018-10-05 14:39] EvanHahn commented on #144
While potentially useful, this library is in maintenance mode and no new features will be added.

You could solve this with a wrapper function, like so:

[code]

Hope that helps!

[2018-10-05 14:39] #144 closed

[2018-12-19 15:57] graemian opened #150 "Decimals for units other than seconds"
I'd like to have output like "12.4 days" or "6.5 weeks", but I can't figure out how to get this.

I tried { largest: 1, round: false } but it doesn't work. Is this possible?

[2018-12-19 16:01] EvanHahn commented on #150
Hmm, that seems like it should work.

I don't have lots of time to maintain this module, unfortunately—any chance you could attempt a pull request?

[2019-02-07 21:44] EvanHahn commented on #141
@A-ezzat1997 Are you able to make a pull request for this?

[2019-03-08 03:04] #139 closed

[2019-03-19 14:04] smnbbrv opened #151 "Lazy language loading / tree-shakable languages loading"
Hi @EvanHahn ,

is it possible to load one or a defined set of particular languages only?

Currently everything is stored in a single object, all functions are located in one file etc.

Do you plan to move the functions to different files with ES6 imports on top?

Or, at least, have the library separated from each language specifics, that every language can be loaded separately.

[2019-03-19 15:25] EvanHahn commented on #151
This library is in maintenance mode, so no new features will be added.

However, if you want to fork this project, feel free. I will include links to forks if they're reasonable.

[2019-03-19 17:46] #151 closed

[2019-04-17 01:47] RigoTheDev commented on #108
Added TypeScript type definitions to DefinitelyTyped under `@types/humanize-duration`.

[2019-04-30 17:48] anthonykulis opened #152 "Incorrect values for even days, months, years"
To replicate:

v3.18.0

You can do this simply on your [demo page](http://evanhahn.github.io/HumanizeDuration.js/)

Lets assume 35 days: 1000 * 60 * 60 * 24 * 35  = 3024000000ms

Result should be either 1 month and 4 days  (assuming 31 day month) or 1 month 5 days. Get the screen shot value.

This issue follows for even months and years as well.

![Screen Shot 2019-04-30 at 12 41 27 PM](https://us

[2019-05-02 15:47] EvanHahn commented on #152
Thanks for reporting. I'll plan to take a look at this soon.

[2019-05-03 20:11] RobMaskell opened #153 "Issues with import into es6 project"
I've pulled this into my project from NPM and I'm trying to import it into a webcomponent but

`import { humanizeDuration } from 'humanize-duration/humanize-duration.js';` gives an error that there is not export named `humanizeDuration`

So I tried

`import 'humanize-duration/humanize-duration.js';` but this gives an error `Uncaught (in promise) TypeError: Cannot set property 'humanizeDuration' of

[2019-05-03 20:57] EvanHahn commented on #153
This seems like an issue with how CommonJS imports are being rewritten with `import`s.

Does `import humanizeDuration from 'humanize-duration` work?

[2019-05-03 21:20] RobMaskell commented on #153
Fair shout, I gave it a try and this was the result `Uncaught (in promise) SyntaxError: The requested module '../../node_modules/humanize-duration/humanize-duration.js' does not provide an export named 'default'`

[2019-05-03 21:44] EvanHahn commented on #153
Are you using anything to transpile ES6 imports to be compatible with CommonJS exports?

[2019-05-03 22:02] RobMaskell commented on #153
It's a polymer app, so currently just running with `npm start` without any transpiling

[2019-05-04 15:37] EvanHahn commented on #153
Okay. Are you able to import any other CommonJS modules this way?

[2019-05-04 16:08] RobMaskell commented on #153
I seem to remember having similar issues with time-elements that I also use, but I think they now have two versions and modern one and a legacy.
I did try adding the script tag to index.html and while that does work in dev it breaks when the proper build script runs which is what reminded me of time-elements.
I think the polymer dev server does something for imports in terms of rewriting them but

[2019-05-04 16:13] EvanHahn commented on #153
Could you try writing a simple CommonJS module and using it? Here's a simple one:

[code]

My guess is that this isn't a problem with Humanize Duration but instead a problem with some module setup.

[2019-05-04 16:14] RobMaskell commented on #153
Hmmm I just found this [PWA Stater Kit FAQ](https://pwa-starter-kit.polymer-project.org/faq) maybe it just needs a ESM. I'll have a play with script tags and see if I can make it work.

[2019-05-09 12:31] EvanHahn commented on #152
This is probably because of how we define months. Months are [defined internally as 2,629,800,000 milliseconds](https://github.com/EvanHahn/HumanizeDuration.js/blob/f53186ebd2431a37d62dcefe7ff7f394c886676c/humanize-duration.js#L488), which is 30.4375 days. That's because that's the mean length of a month. (Note that it's a little more complicated than 365 ÷ 12 because of leap years—we calculate th

[2019-05-09 12:31] #152 closed

[2019-05-10 09:44] A-ezzat1997 commented on #141
@EvanHahn  I'm sorry I was very busy the last couple of months and the coming months will be so as well, once I can work on it and there's no one already fix it I'll work on it

[2019-05-21 11:04] alamothe commented on #152
Given that this lib is based on milliseconds, it is completely useless.

[2019-05-21 14:47] EvanHahn commented on #152
@alamothe Sorry you feel that way! I chose to have this library based on milliseconds because that seems to be the "base time unit" in JavaScript (for example, that's what `Date.now()` returns).

[2019-05-22 02:16] alamothe commented on #152
Sorry for the harsh comment, it should be fine for displaying approximate duration. Unfortunately for my case it has be to a precise duration between two datetimes in a certain timezone, which needs to account DST. This seems to be hard to find in JavaScript world (even `moment` don't account for DST)

[2019-05-22 15:16] anthonykulis commented on #152
The only problem with this is months will never be 30.4375 days. A month is enumerated a either 28 days, 29 days, 30 days, or 31 days. My suggestion is to be opinionated and just say a month is 30 days.

[2019-05-29 14:43] EvanHahn commented on #152
@alamothe This library just turns milliseconds into humanized durations, and doesn't know anything about timezones, so I expect yours to be a separate issue. (But maybe that's wrong!)

@anthonykulis That's reasonable. Unfortunately, this library is in maintenance mode and that would be a breaking change. The good news is that you can follow [these steps](https://github.com/EvanHahn/HumanizeDuratio

[2019-06-11 17:50] genu opened #154 "There is an issue with leap years"
I'm not sure if this is related to #141 but There is an issue with working with leap years.

For example:
[code]
I think this should just be 2 years.

Ref: https://www.wolframalpha.com/input/?i=01%2F01%2F2003+to+12%2F31%2F2004

[2019-06-12 14:15] EvanHahn commented on #154
HumanizeDuration.js isn't aware of times—it just humanizes millisecond durations.

For example, it knows how to humanize 12345 milliseconds, but it doesn't care _when_ that interval is. Is that 12345 milliseconds starting January 1? Starting a week ago? Starting 5 years from now? This library doesn't care.

You might be able to change this with the `unitMeasures` option. See the documentation for

[2019-06-12 14:15] #154 closed

[2019-07-12 22:24] IDisposable opened #156 "Calculations of years and months wrong due to leap year"
The constants uses for milliseconds in a year and milliseconds in a month are incorrect because they are computed from the slightly naïve understanding of leap days in the Gregorian calendar.

A leap day occurs every four years. However, because that's actually slightly too often, if the year is divisible by 100 then it *is not* a leap year. *However*, because _that_ would be too infrequent, if th

[2019-07-12 22:33] IDisposable commented on #156
For reference https://www.infoplease.com/leap-year-101-next-when-list-days-calendar-years-calculation-last-rules

[2019-07-13 15:59] EvanHahn commented on #156
Ah dates, always more complicated than I think.

I think your change in #157 is worthy but suffers from a similar problem as the issue reported in #152—these are arguably breaking changes. And because this library is in maintenance mode, I'm hesitant. However, they are also arguably _bug fixes_, in which case they would be in scope.

What do you think?

[2019-07-17 21:43] IDisposable commented on #156
I agree that they are breaking changes if someone is testing the specific output against a specific input, this is evidenced by the fact that I had to make a bunch of little tweaks to the unit tests.

That said, anyone expecting that level of specificity probably has already noticed this was "wrong" and wrote off the package or the use where they were not rounding. MOST people would have likely we

[2019-07-17 21:48] IDisposable commented on #152
https://github.com/EvanHahn/HumanizeDuration.js/issues/152#issuecomment-494847931

Yes, but this library doesn't address _a month_ (e.g. not a specific point-in-time in a calendar). Rather, this library humanizes the concept of the elapsed time as expressed in milliseconds to a Gregorian-based elapsed time expression. It doesn't talk about specific dates, so it cannot include leap days and lengths

[2019-07-22 14:05] EvanHahn commented on #156
I don't think this would warrant a minor version bump. That would be "if new, backwards compatible functionality is introduced to the public API" per [the semver spec](https://semver.org/). To me, it seems like it's either a patch-level change (because it's a bugfix) or a major version bump (because it's a breaking change).

I think there's an argument to be made for either. I don't feel very stro

[2019-07-25 14:58] IDisposable commented on #156
As to semver, sure... major bump would be reasonable as well. I said minor because it isn't a patch, but it's also not an API change... but major version bump is reasonable as well. This discussion is why I didn't do any of the release-activity sort of work :)

TL;DR
Major bump seems reasonable.

[2019-07-25 15:59] andrew-c-tran commented on #153
@RobMaskell see https://github.com/EvanHahn/HumanizeDuration.js/pull/159

[2019-07-25 17:56] RobMaskell commented on #153
Thanks @andrew-c-tran  I'll check this out at the weekend when I have a little more time

[2019-07-25 20:28] slorenzo opened #160 "[Bug] - Add new languages to humanizers."
Hi.

I just followed the example provided on the docs to add a new language.

[code]

After that, I have received: `1 m, 11undefined75 s` from `71750` milliseconds.

Thanks for this awesome library.

[2019-07-25 21:00] RobMaskell commented on #153
Ok I tried and changed my imports as follows
[code]
I get the following error
[code]
it doesn't like the line
[code]

[2019-07-28 17:45] EvanHahn commented on #160
This looks like a bug. To fix this in the short term, add a `decimal` option:

[code]

I'll plan to fix this soon.

[2019-07-28 18:04] #160 closed

[2019-07-28 18:06] EvanHahn commented on #160
This has been fixed in `humanize-duration@3.20.1`. Thanks for reporting!

[2019-07-28 18:13] EvanHahn commented on #153
@RobMaskell I suspect this is an issue with your build setup. How are you bundling dependencies?

[2019-07-28 18:38] RobMaskell commented on #153
I call `nom start` which runs `prpl-server --root server/build` which I guess is local dev web server node I suspect for serving sites without much packaging for dev purposes. It all comes from https://github.com/Polymer/pwa-starter-kit but I've had no issues with any other imports although I take your point that it's probably some interaction between this server and your code.

[2019-07-28 18:58] EvanHahn commented on #153
It might make sense for us to start publishing an ES module version (sorta like lodash-es).

Are you aware of precedent for that? I want to make sure to maintain backwards compatibility but also want to support ES modules.

[2019-07-28 19:09] RobMaskell commented on #153
I had the same problem back in the day with https://github.com/github/time-elements and then I think they sorted in in a new version, might be worth a look?

[2019-07-30 15:34] EvanHahn commented on #141
@A-ezzat1997 Any chance you're able to make a pull request here? (Or anyone else?)

[2019-07-30 15:39] EvanHahn commented on #153
Looks like they publish two exports and use the not-standard-but-used `module` key in `package.json`. Not exactly sure what this library should do yet, but wanted to comment about my findings.

[2019-08-03 16:15] lharress commented on #141
@EvanHahn FYI ~ This bug was squashed in v3.6.1, specifically [this commit](https://github.com/EvanHahn/HumanizeDuration.js/commit/d23a453bc22c4a5bc40d37f99f519b80fcfeef40)

[2019-08-03 22:59] EvanHahn commented on #141
@lharress That was committed over 3 years ago, but this this report was from about 1 year ago. Are you sure that commit squashed this bug?

[2019-08-04 20:03] lharress commented on #141
@EvanHahn The initial issue is gone, here's an updated plunk with the latest code from `master`;

https://next.plnkr.co/edit/I3YBFw1VaZw4MekP

One thing I'd note (which is correct IMO) is that using `7199` with `{ largest: 2, round: true }` gives **2 hours** given that 1hr, 59mins and 59 seconds rounded to the nearest minute bumps it up to 2 hours.

Above @schoofseggl mentions;

Which was in fact

[2019-08-21 00:28] EvanHahn commented on #153
Node has an official recommendation [not to publish ES modules right now](https://github.com/nodejs/modules/blob/master/doc/announcement.md#es-module-code-in-packages). That may change in the future, but for now, I think I'm going to do nothing.

[2019-08-22 05:40] rokerkony commented on #153
But it can be used on frontend without node as well...

[2019-08-23 16:58] Bulletninja opened #161 "Is there a way to remove the space between the number and the unit?"
For example, let's say i use my own short english language and instead of displaying `4 h 22 m` i want to show `4h 22m`. Is this possible?

[2019-08-24 23:55] EvanHahn commented on #161
The `spacer` option should do it (see the README for instructions).

[2019-08-26 02:46] EvanHahn commented on #153
True, but I'd prefer to only ship one thing. I fear that in trying to address some use cases (eg, a browser build that wants ECMAScript modules) I could break some other cases (eg, a setup that expects CommonJS).

I think I'd like to wait for Node to have a recommendation before continuing here.

[2019-08-26 15:16] EvanHahn commented on #161
Great! Feel free to open a new issue if you have any other questions.

[2019-09-05 22:55] anz000 opened #162 "Add a ceil helper to round to the next biggest integer"
I'm currently using round like
`humanizeDuration( 120.1, { units: ['m'] , round: true })`

Currently it returns 2 mins, I'd want  3 mins using a ceiling function.
How difficult is it to add a `ceil` (similar to round) but that always rounds to the next integer?

Thanks.

[2019-09-09 16:37] EvanHahn commented on #162
That's a good idea, but because this library is in maintenance mode (see the blurb in the readme), I won't be able to add this feature. Going to close this issue for that reason.

I'm happy to endorse a fork that adds this, though!

[2019-09-09 16:37] #162 closed

[2019-09-24 07:04] SynchroM opened #163 "ko_RK is not recognized as Korean language."
"ko_RK" is not recognized as Korean language while "ko" works.
"pt_PT" also works correctly.

[2019-09-24 14:49] EvanHahn commented on #163
I am surprised that `pt_PT` works. What is the output of that?

I would not expect `ko_RK` to work, only `ko`.

[2019-09-24 19:45] guanzo commented on #150
Running into the same issue. Happy to do a PR, but I want clarity into the problem and the potential solution.

[code]

Does the first call output a buggy result in your eyes?
Should these 2 calls return the same output?

[2019-10-04 21:51] EvanHahn commented on #150
That change seems reasonable to me.

This feels like a bugfix and not a breaking change, but are there any cases where it could arguably be a breaking change? If so, I'm more hesitant to make this change.

[2019-10-05 02:42] guanzo commented on #150
If there are, then the existing tests are not comprehensive enough to expose breaking changes. I was surprised that all tests passed after my modifications. I'm happy to add tests for the proposed change, but I can't guarantee that there are no potential breaking changes.

The decision is yours.

[2019-10-05 02:59] guanzo commented on #150
Understandable. The fact that the existing tests stilled passed after my modifications is worrisome. I don't have the time to discover breaking changes, so it may be better to leave this alone.

[2019-10-05 18:16] EvanHahn commented on #150
I admit that this is the kind of thing that makes me not want to maintain this library any more—there is a large matrix of possible options that are hard to test exhaustively. (I'm sure it could be done by a more competent maintainer.) For example, what happens if you throw `round` into the mix here?

I'm inclined to keep things as is. However, if someone wants to fork this library to fix this bug

[2019-11-18 16:30] jeandat opened #166 "Changelog"
After 47 releases, maybe it is time to maintain a changelog?
For instance, on my project I want to update from 3.20.1 to latest version but I have no clue what changed since.

[2019-11-18 17:11] EvanHahn commented on #166
This is the changelog: https://github.com/EvanHahn/HumanizeDuration.js/blob/master/HISTORY.md

Is there something I could do to make this more discoverable?

I'm closing this issue but we can still discuss on the closed issue.

[2019-11-18 17:11] #166 closed

[2019-11-18 17:27] jeandat commented on #166
Maybe I'm wrong but seems to me the standard is to name it CHANGELOG.md. Could have seen it though, but I was only searching for a CHANGELOG.md file.

[2019-11-18 20:18] EvanHahn commented on #166
I don't know of a standard changelog format other than [Keep a Changelog](https://keepachangelog.com/en/1.0.0/), which recommends `CHANGELOG.md` but implies that `HISTORY` is okay too.

I mostly stole the name from how a few popular Node projects, like [Express](https://github.com/expressjs/express/blob/master/History.md), do things.

I'm going to keep things as is for now (some people may be rely

[2019-11-19 07:30] jeandat commented on #166
Yeah sure. I will know next time to look for those names too.

On Mon, Nov 18, 2019, 9:18 PM Evan Hahn <notifications@github.com> wrote:

[2019-12-06 07:02] sweitzel opened #167 "Feature: Duration in the past"
If I have negative seconds, Humanize could automatically convert it to a Human duration in the past:

humanize(-60) = 1 minute ago

This is the only reason why i currently cannot use Humanize and have to use momentjs :-(

[2019-12-06 14:11] EvanHahn commented on #167
This library is actively maintained but no new features will be added, so I'm not going to do this, unfortunately.

However, if a fork of the library adds this, I'm happy to link to it from the readme.

[2019-12-06 14:11] #167 closed

[2020-02-20 15:16] EvanHahn commented on #163
I haven't heard back on this issue in several months so I'm going to close.

Let me know if you would like me to reopen.

[2020-02-20 15:16] #163 closed

[2020-02-20 15:18] EvanHahn commented on #153
Revisiting this, it seems like [Node is still working on ES module support](https://github.com/nodejs/modules/blob/master/doc/plan-for-new-modules-implementation.md). Is anyone aware of the best practices here?

[2020-02-20 15:19] EvanHahn commented on #150
There hasn't been movement on this issue in several months so I'm going to close.

Feel free to let me know if you'd like me to reopen—I don't want to stop important discussion, I just want to clean up old issues.

[2020-02-20 15:19] #150 closed

[2020-05-18 20:22] HHK1 commented on #141
Wrote some tests, I don't think there is any issue anymore:

[code]

[2020-06-03 22:04] EvanHahn opened #174 "Remove `gr` language code"
`el` is the right language code for Greek. Because of a bug, `gr` was introduced and maintained for backwards compatibility.

In the next major version of this library, we should remove `gr`.

[2020-06-07 17:34] EvanHahn commented on #156
Did some more thinking about this, finally.

I think there are a few distinct questions at hand:

1. Is this a breaking change?
1. What should the default durations for months and years be, if at all?
1. Which units should be included by default?

The answer to the first question is easy: if we change anything, then it's a breaking change. (I started [a branch for the next major version](https://g

[2020-06-11 19:10] EvanHahn commented on #174
Closing this as it's been merged into the 4.0 branch (see #176 for more).

[2020-06-11 19:10] #174 closed

[2020-06-11 19:15] EvanHahn opened #177 "Remove months and years from default `units`"
Currently, the `units` option defaults to including months and years.

This line:

https://github.com/EvanHahn/HumanizeDuration.js/blob/6029e9807718a7da2cbb1f859b3e7e0f94049069/humanize-duration.js#L1003

Should be changed to `["w", "d", "h", "m", "s"]`.

This pull request should be made against the `v4.0.0` branch, which you can see in #176.

[2020-06-11 19:20] EvanHahn opened #178 "Remove AMD support"
The [Asynchronous Module Definition](https://github.com/amdjs/amdjs-api/blob/master/AMD.md) (AMD) is a JavaScript module standard that's fallen out of favor.

HumanizeDuration.js currently supports this. We should remove support in the next major version.

It should be a matter of deleting these lines:

https://github.com/EvanHahn/HumanizeDuration.js/blob/6029e9807718a7da2cbb1f859b3e7e0f94049069/h

[2020-06-11 19:28] EvanHahn opened #179 "Remove humanizers"
There are two ways to humanize duration with this library:

1. Call `humanizeDuration(123)`
1. Create a [humanizer](https://github.com/EvanHahn/HumanizeDuration.js#humanizers) with `humanizeDuration.humanizer`, then call that humanizer

Humanizers are still a useful concept and we should document how to do it yourself, but it adds unnecessary complexity to the library for little benefit.

Removing

[2020-06-11 19:30] EvanHahn opened #180 "Remove Bower support"
The next version of HumanizeDuration.js should remove Bower support.

That should be a matter of:

1. Deleting `bower.json`
1. Updating the tests in `test/package.js`

We should make sure that we don't need to do anything else to remove Bower support. Is there documentation on the [Bower website](https://bower.io/) about this? Have other, similar libraries had to do something like this?

If this w

[2020-06-11 19:32] EvanHahn opened #181 "Update Mocha to the latest version"
As of this writing, [Mocha](https://mochajs.org/), our test runner, is a major version behind. We should update it with `npm install mocha@latest --save-dev` and verify that everything works.

[2020-06-16 17:40] BeardyGod commented on #181
@EvanHahn I am on this.

[2020-06-17 14:31] #181 closed

[2020-06-30 14:02] EvanHahn commented on #178
Closed in #186.

[2020-06-30 14:02] #178 closed

[2020-07-02 12:12] joy0316webiee opened #188 "Not flexible with date format"
Currently, I could get the duration in format "2m 6s" but I want to format it in "02m 06s". Is there any way to go through this?

[2020-07-02 15:14] EvanHahn commented on #188
Not currently possible. I'm not planning on adding any new features to this library (see the bolded text in the readme) so I don't think this will be added.

However, I'm more than happy to endorse a fork.

[2020-07-02 15:14] #188 closed

[2020-07-02 15:54] EvanHahn commented on #177
Closed in 1389b4a9f513c113225760489195677104a7eea8.

[2020-07-02 15:54] #177 closed

[2021-01-07 13:50] DanielSWolf opened #194 "Missing case for Slovenian language"
The code that handles the week unit for the Slovenian language seems to be incomplete: It checks three special cases, but it has no `else` branch for the default case.

Here's the relevant excerpt:

[code]

Google Translate translates "100 weeks" as "100 tednov", so the value for the `else` branch should probably be "tednov", but I don't speak Slovenian myself.

[2021-01-07 16:28] EvanHahn commented on #194
Thanks for reporting! This should be fixed in `humanize-duration@3.25.1`.

[2021-01-07 16:28] #194 closed

[2021-03-02 21:27] dutchgecko opened #195 "Combining "largest" and "units" options can cause a unit to be skipped if zero"
I'm not entirely sure if this qualifies as a bug, but it wasn't what I expected.

#### Code:

[code]

#### Result:

[code]

#### Expected:

[code]
or alternatively
[code]

---

My interpretation of using the "largest" option in this way would be that once days > 0, seconds are no longer displayed. In the context of something like a duration that counts up live, it's somewhat incongruous to see a l

[2021-03-02 21:35] dutchgecko commented on #195
I've just realised that `round` does what I want. I should RTFM. Sorry for the noise!

[2021-03-02 21:35] #195 closed

[2021-03-03 23:14] EvanHahn commented on #195
No worries!

[2021-04-30 12:26] #180 closed

[2021-04-30 12:26] #179 closed

[2021-05-04 13:09] cameronbraid opened #197 "Provide an option to omit the spacing between values and units"
When using a `shortEnglishHumanizer` as per your docs, I would like it to render as follows :
[code]
instead of
[code]

[2021-05-04 13:11] EvanHahn commented on #197
You should be able to use the `spacer` option:

[code]

Hope this helps!

[2021-05-04 13:11] #197 closed

[2021-05-04 13:21] cameronbraid commented on #197
Thanks mate.. dunno how I missed that when looking at the docs :)

[2021-05-04 13:22] EvanHahn commented on #197
No problem. There are a lot of options!

[2021-07-01 06:59] mikemajara opened #200 "Duration does not seem correct"
`humanizeDuration(new Date(2021, 8, 1, 12).getTime()-new Date().getTime()`
// returns: 2 months, 1 day, 6 hours, 3 minutes, 48.313 seconds

Today is 1st of July. In a month time, it will be 1st of August.

I fell back to searching for other libs when I saw that `date-fns` was making the same mistake. I might be missing something, but this does not seem like a human readable date duration given it

[2021-07-01 17:01] mikemajara commented on #200
Aand I was totally missing something: Dates in JS start with 0 index.

[2021-07-01 17:01] #200 closed

[2021-07-01 18:22] EvanHahn commented on #200
A mistake I've made many times. Glad it's resolved!

[2021-07-20 19:11] dasa commented on #153
Sindre Sorhus has been [moving](https://blog.sindresorhus.com/get-ready-for-esm-aa53530b3f77) his packages to pure ESM.

[2021-09-03 16:59] solimant opened #201 "An API to return the parts of the computed humanized duration"
# 🙋 Feature Request
It would be nice if we can have a `humanizeDurationParts` that can return the parts of the computed humanized duration.

## 🤔 Expected Behavior
`humanizeDurationParts` would return a shaped representation of the humanized duration. For example, something like:
[code]
Alternatively, we can discuss what's the best shape to return; for example:
- Array ordered by largest unit:
[co

[2021-09-03 21:46] EvanHahn commented on #201
Would [the `parse-ms` module work for you](https://github.com/sindresorhus/parse-ms)?

This library is actively maintained but no new features will be added, so I'm going to close this issue, but I'm happy to discuss a fork or help out with another module.

[2021-09-03 21:46] #201 closed

[2021-09-04 05:11] solimant commented on #201
Yes, that works, thank you very much!

[2021-11-07 11:00] PeterKottas opened #202 "Hide "number of units" when 1"
Apologies if this was asked before, but it's quite vaguely defined and my searches didn't yield results.

Is there a way to achieve:

[code]

This applies to all units, I understand it would require big changes in localization files. Not a big deal, just curious.

Thanks

[2021-11-07 14:38] EvanHahn commented on #202
I don't believe this is possible, unfortunately. Because this library is in maintenance mode, I don't plan to add a feature like this, but I'm happy to endorse a fork or add some documentation if you figure out a way to do this!

[2021-11-07 14:38] #202 closed

[2021-11-07 16:43] PeterKottas commented on #202
Fair enough! Thanks for the info.

[2022-07-10 10:30] sbsrouteur opened #205 "serialComma usage"
Hello,

Is it possible to remove all the commas, in the humanized string?

Regards

[2022-07-10 11:48] EvanHahn commented on #205
Does the `delimiter` option work?

[2022-07-10 12:21] sbsrouteur commented on #205
It does indeed. Thank you for pointing it out.

[2022-07-10 12:21] #205 closed

[2022-08-02 09:22] MMK21Hub commented on #153
This kind of import works correctly when using Vite + TypeScript:
[code]
The `@types/humanize-duration` package provides typings.

[2022-08-08 05:23] mkvlrn commented on #156
Hi! Is this being worked on?

I'm not sure this would be the cause but I'm getting a weird result using a time diff from luxon that results in 31536000000ms (times are just from month/yeah - 05/2021 to 05/2022) and result this lib is giving me is 11 months, instead of 12.

Sorry for maybe necroing an issue, but it is still open!

Thanks.

[2022-08-08 13:16] EvanHahn commented on #156
I'm not aware of anyone actively working on this.

I haven't had time to get to it, unfortunately.

[2022-08-20 15:12] lqzhgood opened #206 "[Feature Request] padding 0 to align result"
can add options to padding 0 to align result ?

like this
[code]

[2022-08-21 06:54] lqzhgood commented on #206
if any one  have same feature,  use this

[code]

[2022-08-21 15:10] EvanHahn commented on #206
This library is actively maintained but no new features will be added. Sorry!

[2022-08-21 15:10] #206 closed

[2022-08-25 18:37] BossBele opened #207 "Feature: Add option to interchange the humanized words from right to left/ Swahili Language optimization"
As a native Swahili language speaker, I expect the humanized duration to start with words before the count.
Eg: "1 day" in Swahili is "siku 1".

Currently, the format does not adhere to the Swahili language; ie. "1 day" = "1 siku".

To solve this, an option to exchange the position of the word would help. Otherwise, an extended formatting function for Swahili would suffice.

[2022-08-25 18:40] BossBele commented on #207
Caveats for implementing an extended formatting function for Swahili means that adding a customized Swahili language humanizer would be impossible:

const humanizer = humanizeDuration.humanizer()

[code]

[2022-08-26 15:03] EvanHahn commented on #207
This has been fixed in aff718e23022163a2d1369a81b84642d29c7a4b4 and deployed in `humanize-duration@3.27.3`. Thanks for your report!

[2022-08-26 15:03] #207 closed